@keyframes main-menu-tap {
  0%   { background: rgba(0,0,0,0.1); }
  50% { background: rgba(0,0,0,0.4); }
  100% { background: rgba(0,0,0,0.1); }
}

.main-nav{
  @extend .clean-list;
  display: flex;
  height: 100%;
}
.main-nav__item{
  background-color: rgba(0,0,0,0.1);
  flex-grow: 1;
  padding: 12px;
  height: 100%;
  display: flex;
  &:not(:first-child){
    margin-left: 1px;
  }
  &:hover{
    animation: main-menu-tap 2s;
  }
}
.main-nav__icon{
  color: $secondary;
  margin: auto;
}