@import url('https://fonts.googleapis.com/css?family=Abel|Oxygen|Quicksand|Titillium+Web|Work+Sans');
@import '_variables';
// @import 'vendor/normalize';
@import 'vendor/reset';
@import 'helpers/_elements';
@import 'helpers/_margins';
@import 'layout/_grid';
@import 'components/_icons';
@import 'components/_main-nav';
@import 'components/_lists';
@import 'components/_exercise';
@import 'components/_timer';
@import 'components/_top-bar';


body{
  font-family: 'Oxygen', sans-serif;
  // &.titillium-web {
  //   font-family: 'Titillium Web', sans-serif;
  // }
  // &.oxygen {
  //   font-family: 'Oxygen', sans-serif;
  // }
  // &.work-sans {
  //   font-family: 'Work Sans', sans-serif;
  // }
  // &.quicksand {
  //   font-family: 'Quicksand', sans-serif;
  // }
  // &.abel {
  //   font-family: 'Abel', sans-serif;
  // }
}

a:not(.default-link),
button:not(.default-link){
  display: inline-block;
  padding: 6px;
  background: $secondary;
  color: $primary;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;

  &.button--small{
    padding: 4px;
    font-size: 0.8rem;
  }

  &.button--big{
    padding: 12px;
    font-size: 1.2rem;
  }
}
